<!-- FOOTER -->

<footer>
  <div class="footer-grid">
    <div class="grid-item">
      <div class="footer-logo">
        <img src="/images/logo-1.png" alt="" />
      </div>

      <p class="footer-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit voluptatem
        aspernatur eos minima iste repudiandae ullam nesciunt modi.
      </p>

      <div class="social-link">
        <a href="" target="_blank" class="facebook-link"
          ><i class="uil uil-facebook-f"></i
        ></a>
        <a href="" target="_blank" class="facebook-link"
          ><i class="uil uil-instagram"></i
        ></a>
        <a href="" target="_blank" class="facebook-link"
          ><i class="uil uil-linkedin-alt"></i
        ></a>
      </div>
    </div>
    <ul class="grid-item">
      <h4 class="item-hearding">Our Link</h4>

      <li class="list-item">
        <a href="">Home</a>
      </li>
      <li class="list-item">
        <a href="">About Us</a>
      </li>
      <li class="list-item">
        <a href="#courses">Courses </a>
      </li>
      <li class="list-item">
        <a href="#contact">Contact us</a>
      </li>
    </ul>
    
  </div>
  <p class="copyright">
    Copyright &copy;
    <a href="https://proficientngi.netlify.com/" class="" target="_blank"
      >Proficient</a
    >
    All right reserved.
  </p>
</footer>
