<div class="container">
  <nav class="navbar">
    <div class="nav-brand">
      <a href="">
        <img src="/images/logo-1.png" alt="Education logo" />
      </a>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/" id="home">Home</a>
      </li>

      <li class="nav-item">
        <a href="/" id="home">About</a>
      </li>

      <li class="nav-item">
        <a href="" id="home">Courses</a>
      </li>

      <li class="nav-item">
        <a href="/posts" id="home">Blog</a>
      </li>

      <li class="nav-item">
        <a href="/contact" id="home">Contact us</a>
      </li>
    </ul>

    <a href="/posts">
      <button class="btn btn-primary">
        <p class="btn-text">Get started</p>
        <span class="square"></span>
      </button>
    </a>

    <button class="nav-toggle-btn">
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </button>
  </nav>
</div>
