<%- include('includes/head') %>
<link rel="stylesheet" href="/new-post.css">

<link rel="stylesheet" href="/post-item.css">

<title>Not Authenticated</title>
</head>
<body>
<%- include('includes/sec-header') %>
<main>
<div class="all-error-page">
    <h1 class="error-class"><h3>Not Authenticated</h3></h1>


    <p>You Are not Authenticated</p>
    <a href="/login" class="btn">Try to Login</a>
</div>
 
</main>

<%- include('includes/footer') %>
</body>
</html>