<%- include('includes/head') %>
<link rel="stylesheet" href="/new-post.css">

<link rel="stylesheet" href="/post-item.css">

<title>Something went wrong</title>
</head>
<body>
<%- include('includes/sec-header') %>
<main>
<div class="all-error-page">
    <h1 class="error-class">500</h1>


    <p>Something went wrong back to safety</p>
    <a href="/" class="btn">Back to Safety</a>
</div>
 
</main>

<%- include('includes/footer') %>
</body>
</html>