<%- include('includes/head') %>
<link rel="stylesheet" href="/new-post.css">

<link rel="stylesheet" href="/post-item.css">

<title>Single Post</title>
</head>
<body>
<%- include('includes/sec-header') %>
<main>
<h1>Single Comment</h1>




      
</main>

<%- include('includes/footer') %>
</body>
</html>

